.containerTicketingPage {
  background-color: #051428;
  min-height: 100vh;
  min-width: 100%;
}

.container__bodyTicketingPage {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyItemTicketingPage {
  min-height: 100%;
  width: 100%;
  padding: 20px 0 50px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BreadcrumbsTicketingPage {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.BreadcrumbLinksProcesses {
  color: #647deb;
  text-decoration-line: none;
}

.themeImageTicketingPage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ImageTicketingPage {
  background-image: url("../../../../public/prozesse-theme.png");
  height: 900px;
  width: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 12px;
  display: grid;
  align-items: start;
}

.decorationTicketingPage {
  width: 100%;
  height: auto;
  padding: 30px 0 0 0;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-start;
}